body {
  overflow: scroll;
}

.frame1 {
  width: 100%;
  height: 650px;
  /* margin-left: 20px; */
}

.title {
  font-family: 'Inter', sans-serif;
}

.judul {
  position: absolute;
  width: 650px;
  height: 105px;
  left: 100px;
  top: 250px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 4rem;
}

.subtitle {
  position: absolute;
  width: 250px;
  height: 126px;
  left: 100px;
  top: 310px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 140.6214%;
  /* or 42px */
  display: flex;
  align-items: center;

  color: #000000;
}

.startnow {
  position: absolute;
  width: 100px;
  height: 35px;
  left: 100px;
  top: 410px;
}

.start {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 140%;
  /* or 35px */
  display: flex;
  align-items: center;
}

.frame2 {
  width: 100%;
  height: 650px;
  /* margin-left: 20px; */
}

.subs {
  position: absolute;
  width: 650px;
  height: 105px;
  left: 380px;
  top: 750px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 4rem;
}
.subs1 {
  position: absolute;
  width: 411px;
  height: 56px;
  left: 420px;
  top: 850px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  /* or 28px */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.pict1 {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50px;
  top: 1000px;
}
.pict2 {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 470px;
  top: 1000px;
}
.pict3 {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 890px;
  top: 1000px;
}
.frame3 {
  width: 100%;
  height: 650px;
  /* margin-left: 20px; */
}

.card-header {
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  margin-bottom: 300px;
}

.ket {
  background-color: #aee4a9;
  position: relative;
  border-radius: 50px;
  width: 500px;
  height: 400px;
  left: -100px;
  right: 0px;
  top: -550px;
  margin-left: 200px;
}

.card-body {
  margin-top: 40px;
  font-family: 'Roboto Serif', serif;
  font-size: 25px;
  margin-left: 50px;
  font-weight: bold;
  margin-bottom: 0px;
  font-style: normal;
}

.card-text {
  font-family: 'Roboto Serif', serif;
  font-size: 10px;
  margin-left: 40px;
  font-style: normal;
  font-weight: 50px;
}

.card-body2 {
  position: absolute;
  left: 520px;
  top: 0px;
  margin-left: 100px;
}

.frame4 {
  width: 100%;
  height: 650px;
  margin-top: -400px;
  /* margin-left: 20px; */
}

.pilih {
  font-family: 'Berkshire Swash', cursive;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 50px;
  margin-left: 50px;
}

.pilih1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
  margin-top: -650px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  text-align: justify-center;
}

.sayuran {
  width: 250px;
  height: 150px;
  margin-bottom: 40px;
  align-items: justify-center;
}



.isiabout {
  width: 774px;
  height: 382px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.62%;
  display: flex;
  margin-left: 150px;
  margin-top: 100px;
  padding-right: 200px;
  text-align: justify;
}



.formemail {
  width: 200px;
  margin-left: 90px;
  margin-top: -230px;
  border-width: 200px;
  padding: 15px;
  display: block;
}

.footers {
  width: 150%;
}

.email {
  width: 300px;
  padding: 11px;
  border-radius: 50px;
  box-sizing: content-box;
  margin-top: px;
  margin-bottom: 16px;
  resize: vertical;
}

.isiabout2 {
  width: 800px;
  height: 382px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.62%;
  display: flex;
  margin-left: 150px;
  margin-top: -90px;
  padding-right: 0px;
  text-align: justify;
}


.isiabout3 {
  width: 800px;
  height: 382px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.62%;
  display: flex;
  margin-left: 150px;
  margin-top: 10px;
  text-align: justify;
}
